NODE_ENV=development

APP_NAME=Flixer Shop
FRONTEND_URL=https://flixershop.com

CURRENCY=USD
DATABASE=mongodb

MONGO_DB_URI=
MONGO_DB_NAME=

POSTGRESS_DB_URL=

REDIS_URL=redis://localhost:6379

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_SECURE=
SMTP_FROM="Flixer Shop <noreply@flixershop.com>"

SHIPPING_TEAM_EMAIL=shipping@flixershop.com

PAYSTACK_BASE_URL=
PAYSTACK_SECRET_KEY=
PAYSTACK_SUCCESS_URL=

MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
MONNIFY_BASE_URL=
MONNIFY_SUCCESS_URL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

EXCHANGE_RATE_API_KEY=